extends ../layout/base

block content 
    .wrapper 
        section.latest-developments
            .latest-developments__container.container 
                h1.latest-developments__title Our Latest Developments
                .latest-developments__search-field 
                    label(for="search") Filter
                    input(type="text", id="search")
                .latest-developments__content
                a(href="#", class="latest-developments__btn") See more
        
        
